<a href="https://colab.research.google.com/github/qu4nt/PandasVsExcel/blob/dev/S02_primeros_pasos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Primeros pasos con Python

En esta lecci√≥n aprender√°s los tipos de datos que existen en Python

En Python, al igual que con excel podemos realizar operaciones aritm√©ticas tal y como en una simple calculadora. Por ejemplo,

In [ ]:
2 + 4

6

In [ ]:
4 * 3

12

In [ ]:
10 / 2

5.0

Es recomendable dejar un espacio antes y despu√©s de utilizar un operador para una mejor comprensi√≥n de las operaciones que se van a realizar.

Jerarqu√≠a o precedencia de operaciones

El orden establecido para la resoluci√≥n de operaciones se denomina jerarqu√≠a o precedencia de operaciones, esto va a determinar la prioridad en que se calcula cada parte de la expresi√≥n matem√°tica. En el caso de Python tenemos:

Potencias y radicales.
Multiplicaci√≥n, divisi√≥n y divisi√≥n entera.
Suma y resta.

üìì
Operadores aritm√©ticos 

|Operador|Descripci√≥n|
|--------|-----------|
|+|Suma|
|-|Resta|
|*|Multiplicaci√≥n|
|/|Divisi√≥n|
|//|Divisi√≥n entera|
|**| Potencia|
|%|Residuo|

Todo esto lo podemos realizar gracias a la biblioteca est√°ndar (m√°s adelante estudiaremos acerca de las bibliotecas).

## Variables

En Excel tenemos celdas y cada una de ellas tienen nombres, A1, A2, B1 y as√≠ sucesivamente. En estas celdas podemos almacenar datos de tipo n√∫mero, fechas, horas, porcentajes y textos. En Python el equivalente a una celda podr√≠a ser una variable. ¬øPor qu√© una variable? Las variables se pueden definir como la etiqueta de un valor, tiene la forma nombre = valor.

Por ejemplo, si escribimos y ejecutamos en una celda del cuaderno A1 igual a 23.

In [ ]:
A1 = 23

Tenemos una variable cuyo nombre es A1 y se almacena en ella el n√∫mero 23.

Por esa capacidad de almacenar las variables tambi√©n se definen como cajas de almacenamiento en las que se guardan valores (objetos). 

Si deseas mostrar lo que contiene la variable simplemente debes escribir el nombre de la variable.

In [ ]:
A1

23

Un aspecto importante para tener en cuenta es lo siguiente:

Para una variable cualquiera, en este caso utilizar√© **algo** para un ejemplo, y le asignar√© el n√∫mero uno. Es decir que esta variable cuando se invoque mostrar√° el n√∫mero 1.

In [ ]:
algo = 1

El llamado de la variable debe hacerse con el nombre exactamente igual a como se creo inicialmente, en este caso si colocamos la palabra algo de distintas formas nos arrojar√° un error

In [ ]:
Algo

NameError: ignored

In [ ]:
ALGO

NameError: ignored

In [ ]:
alGo

NameError: ignored

Pero si se escribe bien el nombre te mostrar√° correctamente el valor almacenado.

In [ ]:
algo

1

 ¬øA qu√© se debe esto?

Te cuento que esto se debe a que Python es *case sensitive*.

 ¬øQu√© significa?

 Significa que Python es sensible a las may√∫sculas y min√∫sculas. Por ello si defines una variable solo con may√∫sculas, may√∫sculas y min√∫sculas o  solo min√∫sculas y luego quieres hacer c√°lculos con ella, debes escribirla de la misma forma. De lo contrario Python te mostrar√° mensajes de error como los anteriores.

üìì El nombre de las variables en Python puede tener cualquier longitud. Tambi√©n puede combinar letras may√∫sculas y min√∫sculas, n√∫meros y gui√≥n bajo (_).

A pesar de que los nombres de las variables pueden contener n√∫meros, el primer car√°cter del nombre no debe ser un n√∫mero.

Por ejemplo:
Variables correctas
- Edad = 80
- sueldoBase = 400
- variable01 = 1
- variable_ = 2
- primera_variable = 22
- Variable_edad_estudiante_01 = 30

Variables incorrectas

- 01variable = 20
- variable-01 = 12
- variable edad = 18

Ahora que ya sabemos lo que es una variable y c√≥mo crearla. Nos podemos preguntar sobre los tipos de datos que podemos almacenar en estas variables. Entonces veamos los tipos de datos en Python.

# Tipos de datos en Python

## Datos simples

## N√∫meros
En Python los n√∫meros pueden ser de tipo `int` o `float`. 

`int` hace referencia a los n√∫meros enteros. Por ejemplo, 3 es un n√∫mero entero, en Python ser√° de tipo `int`. Por otro lado, 1.0 no es un n√∫mero entero; tiene una parte decimal.

`float` en este caso se refiere a los n√∫meros que incluyen una parte decimal. Por ejemplo 1.0 tiene parte decimal, por lo cual es un valor de punto flotante.

Muchas personas confunden los n√∫meros enteros y los de punto flotante,
pero la diferencia es f√°cil de recordar. Si ves un decimal en el n√∫mero es un valor de punto flotante.

En Excel los n√∫meros se almacenan com√∫nmente bajo el formato General y N√∫mero. Dependiendo de la configuraci√≥n, los n√∫meros son le√≠dos de forma correcta. Si estamos en formato de habla espa√±ola es probable que excel est√© configurado para detectar los puntos como separadores de miles y las comas como separador de decimales.

Cuando trabajamos con Python, la separaci√≥n decimal se representa con punto.

In [ ]:
decimal = 1.0
entero1 = 3

In [ ]:
type(decimal)

float

In [ ]:
type(entero1)

int

In [ ]:
entero2 = 4

In [ ]:
division = entero1/entero2
division

0.75

In [ ]:
type(division)

float

üìà Los n√∫meros enteros son `int` y los punto flotante `float`.

## Cadenas

Las palabras, frases, simbolos, n√∫meros y letras son cadenas. En Excel se almacenan como General o texto. En Python tambi√©n podemos almacenar cadenas y se conocen como string y se denotan con las letras str.

üí° Una cadena es una colecci√≥n de caracteres, estos pueden ser una letra, un n√∫mero, un s√≠mbolo, palabras, frases y se puede utilizar para almacenar literalmente cualquier tipo de informaci√≥n. Una cadena podr√≠a contener una imagen, un archivo de sonido o incluso un v√≠deo, pero el uso m√°s com√∫n de las cadenas es almacenar texto.

Para introducir una cadena en Python, debemos colocarla entre comillas simples (') o comillas dobles (").

In [ ]:
'Hola'

'Hola'

In [ ]:
'1'

'1'

In [ ]:
"Es un gusto que est√©s aqu√≠"

'Es un gusto que est√©s aqu√≠'

Tambi√©n tenemos la opci√≥n de introducir cadenas de texto coloc√°ndolas entre triple comillas simples o triple comillas dobles.

In [ ]:
"""Hola"""

'Hola'

In [ ]:
'''Hola'''

'Hola'

Los caracteres con dos comillas simples o dobles no funcionan, esto tambi√©n pasa con m√°s de tres comillas simples o dobles.

In [ ]:
""¬øFunciona?""

SyntaxError: ignored

Ahora, probemos almacenar una palabra en una variable, voy a guardar Saludos.

In [ ]:
cadena = "Saludos"

Al invocar la variable obtenemos lo que almacena

In [ ]:
cadena

'Saludos'

Utilicemos la funci√≥n type para ver el tipo de dato:

In [ ]:
type(cadena)

str

üìà Las cadenas (textos) son del tipo `str`, si queremos que Python las reconozca correctamente debemos introducirlas rodeadas de comillas simples o dobles.

Ahora, veamos otro tipo de datos.

## Booleanos
En Excel podemos evaluar condiciones. Cuando realizamos esto se generan valores verdadero o falso, true o false. En Python, este tipo de valores se conocen como Booleanos.


 Por ejemplo, si tomamos las variables anteriores, entero1 y entero2 para verificar si son o no iguales

In [ ]:
entero1

3

In [ ]:
entero2

4

In [ ]:
entero1 == entero2

False

En excel esto se har√≠a evaluando 3 = 4. Ahora, evaluando si son distintos

In [ ]:
entero1 != entero2

True

En excel se utiliza 3 <> 4.

Para evaluar desigualdades,

In [ ]:
entero1 < entero2 #> para mayor que

True

Para evaluar la desigualdad, se utilizan los mismos operadores en excel.

¬øC√≥mo ser√≠a una variable con un valor booleano?

In [ ]:
booleanoT = True
booleanoT

True

In [ ]:
type(booleanoT)

bool

In [ ]:
booleanoF = entero1 == entero2
booleanoF

False

In [ ]:
type(booleanoF)

bool

üí° Si nosotros mismos introducimos el valor True o False a alguna variable debemos tener en cuenta que Python los reconocera como booleanos si y s√≥lo si escribimos True o False, con may√∫scula la primera letra. Si esto no ocurre, Python arrojar√° un error.

In [ ]:
true

NameError: ignored

In [ ]:
True

True

üìà Los valores True y False se reconocen en Python como booleanos, `bool`.

# Estructuras de datos

Las secuencias ordenadas de elementos en Excel pueden ser filas o columnas de valores, formando su estructura. Un aspecto resaltante es que la intersecci√≥n entre columnas y filas resulta en una celda. Por ejemplo, la celda D4 est√° asociada a la columna D y a la fila 4. Lo cual permite localizar valores mediante coordenadas "Columna, Fila".

En Python las estructuras de datos se hacen presentes a tr√°ves de las listas, tuplas y diccionarios.

## Listas y tuplas

In [ ]:
lista = [1, 2, 3, 4]
lista

[1, 2, 3, 4]

El objeto anterior se denomina lista y puede contener, como en este caso, n√∫meros, cadenas, otras listas o combinaciones de varios tipos de datos. Los elementos de las listas van separados por comas y los rodean corchetes.

Si escribimos type(lista) obtendremos la palabra `list` que hace referencia a este tipo de estructura.

In [ ]:
type(lista)

Para acceder a los elementos de las listas al igual que para las celdas de Excel se hace mediante la posici√≥n. Las posiciones de las listas comienzan de 0.

Por ejemplo, si queremos acceder al primer valor de la lista ser√≠a

In [ ]:
lista[0]

1

Al √∫ltimo valor

In [ ]:
lista[-1]

4

Tuplas

Las tuplas son similares a las listas, su diferencia est√° en que las tuplas son inmutables es decir, que sus elementos no se pueden cambiar una vez creadas.

Para crear una tupla debemos separar cada elemento por comas como en las listas. Los elementos van encerrados entre par√©ntesis. Aunque puedes crearlas sin especificar el par√©ntesis

In [ ]:
1, 2, 3, 4

(1, 2, 3, 4)

In [ ]:
(1, 2, 3, 4)

(1, 2, 3, 4)

Las tuplas son √∫tiles cuando tengamos informaci√≥n que no se quiera modificar.

## Diccionarios

 La estructura de los diccionarios es {clave : valor} y lo podemos asociar entonces como una columna de Excel, el nombre de la columna ser√≠a la clave y los datos almacenados en la columna ser√≠an los valores. Tambi√©n pueden ser filas. Este tipo de estructura de datos facilita la comprensi√≥n de la informaci√≥n, la compacta.

In [ ]:
diccionario = {'frutas' : ['manzana', 'pera', 'mandarina'], 'precios' : [2, 3, 1]}

In [ ]:
diccionario

{'frutas': ['manzana', 'pera', 'mandarina'], 'precios': [2, 3, 1]}

In [ ]:
diccionario['frutas']

['manzana', 'pera', 'mandarina']

üìñ Recuerda que una variable es una especie de caja de almacenamiento. Siempre que quieras trabajar con la informaci√≥n, accedes a ella utilizando la variable. Si tienes informaci√≥n nueva que quieres almacenar, la puedes poner en una variable.

Los principales tipos de datos que se pueden almacenar en una variable son n√∫meros enteros, n√∫meros de punto flotante, cadenas de caracteres y valores booleanos.

üí° En Python, se trabaja principalmente con objetos. ¬øQu√© es un objeto? En este caso todo es un objeto, un n√∫mero, cadenas, funciones, entre otros. Los objetos hacen las cosas complejas m√°s simples.

## Fechas

Las fechas las veremos en la siguiente secci√≥n.